body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6a9c78;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

section {
    margin: 2em 10%;
}

section h2 {
    color: #6a9c78;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e8e8e8;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}

footer {
    background-color: #6a9c78;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
